<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
	This is the Contact Us page from <a href="http://ruby.railstutorial.org/chapters/static-pages#sec-static_pages_exercises">Exercise</a> 1 from Chapter 3.5
</p>